@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --shadow-color: #3232503b ;
  --shadow-color-alt: #ffffffa8;
  --background-color: #EBECF0;
  --text-color:#565656;
  --box-shadow:3px 3px 12px var(--shadow-color), -5px -5px 12px var(--shadow-color-alt);
  --hover-shadow: 1px 1px 7px var(--shadow-color), -2px -2px 6px var(--shadow-color-alt);
  --primary-color: #1654F0;
  --accent-color:#2ff1ff;
  --operator-color: rgb(111, 149, 184);
  --text-shadow-color: rgba(255,255,255,0.5);
}

[data-theme="dark"] {
  --shadow-color: #1f1f22f5;
  --shadow-color-alt: #8798a813;
  --background-color: #242429;
  --text-color:#a8b5c0;
  --box-shadow:5px 5px 10px var(--shadow-color), -5px -5px 5px var(--shadow-color-alt);
  --hover-shadow: 3px 3px 3px var(--shadow-color), -3px -3px 3px var(--shadow-color-alt);
  --primary-color: rgb(204, 42, 18);
  --accent-color: rgb(253, 134, 54);
  --operator-color: rgb(236, 94, 0);
  --text-shadow-color: #6e6a6a;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: var(--background-color);
  width: 400px;
  border-radius: 12px;
  box-shadow: 10px 10px 20px var(--shadow-color), -10px -10px 20px var(--shadow-color-alt);
}

.calculator-display {
  background: var(--background-color);
  color:var(--text-color);
  margin: 30px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 100px;
  box-shadow: inset 3px 3px 7px var(--shadow-color), inset -5px -5px 10px var(--shadow-color-alt);
}

.calculator-display h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 5px 25px;
  font-size: 45px;
  overflow-x: auto;

  background-color: #363636;
  color: transparent;
  text-shadow: 0px 1px 1px var(--text-shadow-color);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.calculator-buttons {
  display:grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 20px 20px;
  padding:20px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border:none;
  border-radius:100px;
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  color:var(--text-color);
}

button:hover {
  box-shadow: var(--hover-shadow);
}

button:active {
  transform:translateY(1px);
}

button:focus {
  outline:none;
}

.digit span {
  background-color: #00000052;  color: transparent;
  text-shadow: 0px 1px 1px var(--text-shadow-color);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.operator {
  background-color: var(--operator-color);
  padding-bottom:4px;
}

.operator span{
  font-size: 40px;
  font-weight: 700;
  background-color: #00000052;  color: transparent;
  text-shadow: 1px 1px 2px var(--operator-color);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.clear{
  background-color: rgb(197, 37, 37);
}

.clear span{
  font-weight: 700;
  background-color: #000000ad;  color: transparent;
  text-shadow: 1px 1px 2px rgb(197, 37, 37);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background-color: rgb(81, 192, 81);
}

.equal-sign span {
  font-weight: 700;
  font-size:60px;
  background-color: #00000052;
  color: transparent;
  text-shadow: 1px 2px 5px rgb(81, 192, 81);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

/* Dark Mode Toggle */

.theme-switch-wrapper {
  display: flex;
  position: fixed;
  right:10px;
  top:10px;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: linear-gradient( 90deg, var(--primary-color), var(--accent-color));  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: linear-gradient( 90deg, var(--primary-color), var(--accent-color));  bottom: 0;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 1.5rem;
  margin: auto 10px ;
  color:var(--text-color);
}


@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
